<h1>Reset della Password</h1>
<p>Ciao <%= @user.email %>,</p>
<p>Hai richiesto di reimpostare la tua password. Per farlo, clicca sul link qui sotto:</p>
<p><a href="<%= @reset_link %>">Resetta la tua password</a></p>
<p>Se non hai richiesto questa email, ignora questo messaggio.</p>
<p>Grazie!</p>
<p>Il team di <strong>Campetto.it</strong></p>
