<p>Benvenuto su Campetto.it!</p>

<p>Per completare la registrazione, clicca sul link qui sotto:</p>

<p><%= link_to 'Conferma la tua registrazione', @url %></p>

<p>Grazie per esserti registrato!</p>
