<h1>Password reset</h1>
<p>Per reimpostare la password fai click sul link sotto:</p>
<%= link_to "Reset password", edit_partner_password_reset_url(@partner.reset_token, email: @partner.email) %>

<p>Questo link scadrà in due ore.</p>

<p>Se non hai richiesto il reset della password, ignora questa mail e la tua password resterà com'è.</p>