<%= provide(:title, "Dashboard amministrativa") %>
<%= provide(:role, "Administrator") %>

<!-- -->

<!--
<div id="sportcenter-manager" class="work-area">
    <h2 class="work-area-heading">
        <i class="fas fa-cogs"></i> Gestione Centri Sportivi
    </h2>

    <div class="work-area-command">
    </div>

    <div id="sportcenter-show">
    </div>

    <!-- Qui ci va il modal per il form dell'aggiunta dei >

</div>-->

<div style="" id="sportcenter-manager" class="work-area">
    <h2 class="work-area-heading">
        <i class="fas fa-cogs"></i> Gestione centri sportivi
    </h2>
    


</div>

<div style="display: none" id="playground-manager" class="work-area">
    <h2 class="work-area-heading">
        <i class="fas fa-cogs"></i> Gestione campi sportivi
    </h2>
</div>

<div style="display: none" id="slot-manager" class="work-area">
    <h2 class="work-area-heading">
        <i class="fas fa-cogs"></i> Gestione slot prenotazioni
    </h2>
</div>

<div style="display: none" id="booking-manager" class="work-area">
    <h2 class="work-area-heading">
        <i class="fas fa-cogs"></i> Gestione prenotazioni
    </h2>
</div>

<div style="display: none" id="review-manager" class="work-area">
    <h2 class="work-area-heading">
        <i class="fas fa-cogs"></i> Gestione recensioni
    </h2>
</div>

<div style="display: none" id="report-manager" class="work-area">
    <h2 class="work-area-heading">
        <i class="fas fa-cogs"></i> Gestione segnalazioni
    </h2>
</div>

<div style="display: none" id="user-manager" class="work-area">
    <h2 class="work-area-heading">
        <i class="fas fa-cogs"></i> Gestione utenti
    </h2>
</div>

<div style="display: none" id="partner-manager" class="work-area">
    <h2 class="work-area-heading">
        <i class="fas fa-cogs"></i> Gestione partner
    </h2>
</div>

<div style="display: none" id="administrator-manager" class="work-area">
    <h2 class="work-area-heading">
        <i class="fas fa-cogs"></i> Gestione amministratori
    </h2>
    <div class="work-area-command">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            +
        </button>
    </div>
    <div>
        <!-- Mostra gli amministratori -->
        <script>
        /*L'evento si verifica su caricamento o ricerca dell'amministratore*/
        //$document.on('click', '.dashboard-control', requestAdminIndex)
        </script>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    

</div>

