<%= provide(:title, "Dashboard amministrativa") %>

<div id="sportcenter-manager" class="work-area">
    <h2 class="work-area-heading">
        <i class="fas fa-cogs"></i> Gestione Centri Sportivi
    </h2>
    <!-- Contenuto della sezione Gestione Centri Sportivi -->
</div>
