<%= provide(:title, "Dashboard amministrativa") %>


<div id="sportcenter-manager" class="work-area">
    <h2 class="work-area-heading">
        <i class="fas fa-cogs"></i> Gestione Centri Sportivi
    </h2>

    <div class="work-area-command">
    </div>

    <div id="sportcenter-show">
    </div>

    <!-- Qui ci va il modal per il form dell'aggiunta dei >-->

</div>
