.field-show-container {
  h2{
    margin: 0 auto;
    width: 90%;
    margin-bottom: 10px;
  }
  .field-title {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .field-description {
    font-family: 'Roboto', sans-serif; 
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .list-group-item {
    font-family: 'Roboto', sans-serif; 
    font-size: 1rem;
  }

  /* Stili per il carousel */
  #fieldCarousel {
    .carousel-item {
      max-height: 400px;
      overflow: hidden;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  /* Pulsanti di azione */
  .action-button {
    border-radius: 50px;
    padding: 12px 24px;
    font-size: 1rem;
    min-width: 150px;
    transition: all 0.3s ease;
  }

  .btn-primary.action-button {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;

    &:hover {
      background-color: #0069d9;
      border-color: #0062cc;
      transform: translateY(-3px);
      box-shadow: 0 5px 15px rgba(0, 123, 255, 0.4);
    }
  }

  .btn-secondary.action-button {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;

    &:hover {
      background-color: #5a6268;
      border-color: #545b62;
      transform: translateY(-3px);
      box-shadow: 0 5px 15px rgba(108, 117, 125, 0.4);
    }
  }

  /* Navigazione Giorni */
  .day-navigation {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    .btn {
      min-width: 150px;
    }

    .date-picker-form {
      display: flex;
      align-items: center;
      gap: 10px;

      label {
        margin-bottom: 0;
      }
    }
  }

  /* Slot Container */
  .slot-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin: 0 auto;
    width: 95%;
  }

  .slot-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    height: 120px;
    width: 260px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;

    p {
      margin: 0;
    }

    .btn {
      margin-top: 10px;
    }
  }

  @media (max-width: 900px) {
    .slot-card{
      width: 40%;
    }
  }
  @media (max-width: 700px) {
    .slot-card{
      width: 100%;
    }

    .day-navigation {
      flex-direction: column;
      gap: 10px;

      .date-picker-form {
        flex-direction: column;
        align-items: stretch;
        width: 100%;

        .form-control {
          width: 100%;
        }
      }
    }
  }
}

