 <!-- FINE PAGINA -->
<footer id="-tp-footer">
    <div id="-tp-footer-bottominfo">
        <p>Copyright © 2024 Campetto.it | Via del web, 1, 00185 Roma Italia |C.F. 01234567890 P.IVA 01234567890</p>
        <p>
            <span id="-tp-footer-bottominfo-settings"><a data-bs-toggle="modal" data-bs-target="#-tp-cookie" href="#">Impostazioni cookie</a>, <a href="legal.php#cookie_policy">Informativa cookie</a>, <a href="legal.php#privacy_policy">Informativa privacy</a></span>
            <br class="-tp-footer-bottominfo-breakline">
            <span id="-tp-footer-bottominfo-version"> Versione 0.1 </span>
            <br class="-tp-footer-bottominfo-breakline">
        </p>
    </div>
</footer>