 <!-- FINE PAGINA -->
    <div class="fine__container" id="terms">
    <div class="fine__links">
        <div class="fine__link--wrapper">
        <div class="fine__link--items">
            <h2>About Us</h2>
            <a href="#nostraidea">La nostra idea</a> 
            <a href="#chisiamo">Chi siamo</a> 
            <a href="#terms">Terms of Service</a>
        </div>
        <div class="fine__link--items">
            <h2>Follow us </h2>
            <a href="https://www.facebook.com" target="_blank">Facebook <i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank">Instagram <i class="fa fa-instagram"></i></a>
            <a href="https://www.twitter.com" target="_blank">Twitter <i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com" target="_blank">LinkedIn <i class="fa fa-linkedin"></i></a>
        </div>
        </div>
    </div>
    <section class="social__media">
        <div class="social__media--wrap">
        <div class="fine__logo">
            <a class="fine-brand me-auto" href="#">Campetto.it</a>
        </div>
        <p class="website__rights">© Campetto.it 2024. All rights reserved</p>
        </div>
    </section>
    </div>
